



header {

background-image: url("http://projet.local/Activit%C3%A9%204/images/kazuend-40019-unsplash.jpg");
background-size: cover;
background-position: center;
height: 500px;
text-align: center;
color: white;

}


h1 {
text-align: center;
color: white;
}



body {
font-family: 'Lato', sans-serif;

}


#menu {
	
}

